# Node.js
node_modules/
dist/
dist-tauri/
pnpm-debug.log*

# Rust
target/
Cargo.lock

# Tauri
src-tauri/target/
src-tauri/binaries/

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.directory
.DS_Store
Thumbs.db

# Project specific
scripts/emergency_bypass.sh
.envrc
dev
